.link {
  display: flex;
  line-height: 1;
  padding: 5px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  /* place-content: center;
  justify-content: center; */
  align-items: center;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
.linksGroup {
  place-content: center;
  justify-content: center;
}
.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}
.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.activeLink {
  border-bottom: 4px solid green;
  border-radius: 0px;
  padding: 4px 2px 2px 2px;
}